</div>
</main>
<% if (role_user === 'User') { %>
<footer class="page-footer">
    <p>Copyright &copy; 2017</p>
</footer>
<% } %>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="./javascripts/materialize.min.js"></script>
<script type"text/javascript" src="./javascripts/script.js"></script>

</html>