    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/profile">Mon profile</a>
            </li>
            <li><a href="/boards">Mes boards</a></li>
        </ul>

        <div class="connexion_bloc">
            <ul>
                <li>
                    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Connexion</a>
                </li>
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Nom</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Password</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </ul>
            </ul>
        </div>
    </nav>
    <div class="central">
        <main>