
<nav>
    <ul>
        <% if (role_user === 'User') { %>
            <li>
                <a <% if (page_name==='index' ) { %>class="current"
                    <% } %> href="/">Home</a>
            </li>
            <li>
                <a <% if (page_name==='profile' ) { %>class="current"
                    <% } %> href="/profile">Mon profile</a>
            </li>
            <li>
                <a <% if (page_name==='boards' ) { %>class="current"
                    <% } %> href="/boards">Mes boards</a>
            </li>
            <% } %>
                <li>
                    <a <% if (page_name==='Dashboard' ) { %>class="current"
                    <% } %> href="/administration">Administration</a>
                </li>
            <% if (role_user === 'Admin') { %>
                <li>
                    <a <% if (page_name==='users' ) { %>class="current"
                    <% } %> href="/administration-users">Users</a>
                </li>
                <li>
                    <a <% if (page_name==='boards' ) { %>class="current"
                    <% } %> href="/administration-boards">Boards</a>
                </li>
                <li>
                    <a <% if (page_name==='images' ) { %>class="current"
                    <% } %> href="/administration-images">Images</a>
                </li>
            <% } %>
    </ul>

    <div class="connexion_bloc">
        <ul id ="connexion">
                <li>
                    <a <% if (page_name==='login' || page_name==='forget' ) { %>class="current"
                        <% } %> href="/login">Connexion</a>
                </li>
                <li>
                    <a <% if (page_name==='inscription' ) { %>class="current"
                        <% } %> href="/inscription">inscription</a>
                </li>
        </ul>
        <ul id="deconnection">
            <li>
                <a href="/">deconnexion</a>
            </li>
        </ul>
    </div>
</nav>
<div class="central">
<main>