    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/profile">Mon profile</a>
            </li>
            <li><a href="/boards">Mes boards</a></li>
        </ul>

        <div class="connexion_bloc">
            <ul>
                <li>
                    <a href="/login">Connexion</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="central">
        <main>