<% include ./partials/head %>
	<h1>
		<%= title %>
	</h1>
	<div class="row">
		<form class="col s12">
				<div class="input-field col s6">
					<label for="email">email</label>
					<input class="validate" type="text" name="email" id="email">
				</div>

				<div class="input-field col s6">
					<label for="password">mot de passe</label>
					<input class="validate" type="password" name="password" id="password">
				</div>
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
				<i class="material-icons right">send</i>
			</button>
		</form>
		<a href="/forget">Forget password ?</a>
	</div>

	<script>
		var form = document.querySelector('form');
		form.addEventListener("submit", loginUser);

		var loginLink = document.querySelector('#connexion');

		function loginUser(event) {
			loginUserWithXHR(event);
		}

		function loginUserWithXHR(event) {
			event.preventDefault();
			console.log('loginUserWithXHR');

			// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
			var xhr = new XMLHttpRequest();
			xhr.open("POST", '/login', true);

			//Send the proper header information along with the request
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

			xhr.onreadystatechange = function () {//Call a function when the state changes.
				if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
					var token = xhr.response;
					localStorage.setItem('token', token);
					switchToLoginMode();
					form.reset();
				}
			}
			var email = document.getElementById('email').value;
			var password = document.getElementById('password').value;
			var payLoad = "email=" + email + "&" + "password=" + password;
			xhr.send(payLoad);

    		setTimeout('document.location.href="http://localhost:3000/profile"', 2000);

		}

		function switchToLoginMode() {
			loginLink.style.display = "none";
		}
		function switchToLogoutMode() {
			loginLink.style.display = "block";
			deconnexionLink.style.display = "none";
		}
	</script>
	<% include ./partials/footer %> 